<!DOCTYPE html>
<html lang="en">
    <head>
        <title>??</title>
        <style>
            label.fw
            {
                display: inline-block;
                width: 100px;
            }
        </style>
    </head>
<body>
<table>
    <tr>
        <form action="/action_page.php">
            <label class='fw' for="fname">Name:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label class='fw' for="lname">Phone:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <label class='fw' for="lname">Home Phone:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <label class='fw' for="lname">Address:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <input type="submit" value="Submit">
          </form>
    </tr>
</table>
</body>
</html>
